<%= form_with(model: snapshot) do |form| %>
  <% if snapshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>

      <ul>
        <% snapshot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :snapshot_id %>
    <%= form.text_field :snapshot_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
